// All Viewports //

.controlArrow {
    margin-top: -38px;
    width: 0;
    height: 0;
    font-size: 2em;
    cursor: pointer;
    
    position: absolute;
    top: 88%;
    
    &.prev {
        left: 15px;
        width: 0;
    }

    &.next {
        right: 35px;
    }
}